<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
{% load staticfiles %}
<link href="{% static "datatables/css/jquery.dataTables.min.css" %}" rel="stylesheet" media="screen">
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<script type="text/javascript"  src="{% static "jquery/jquery-1.12.4.js" %}"></script>
<script src="{% static "datatables/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript">
/***
 * 条件值初始化：最小-1000
 */
 
function  initSearchData(data)
{	
   if (data=='')
     return -1000;
   else  
	 return data; 
}
$(document).ready(function() {	
	var searchParams={
			 "minWeek":initSearchData($("#minWeek").val()),
			 "minMonth":initSearchData($("#minMonth").val()),
			 "minThreeMonth":initSearchData($("#minThreeMonth").val()),
			 "minSixMonth":initSearchData($("#minSixMonth").val()),
			 "minOneYear":initSearchData($("#minOneYear").val()),
			 "minTwoYear":initSearchData($("#minTwoYear").val()),
			 "minThreeYear":initSearchData($("#minThreeYear").val()),
			 "minThisYear":initSearchData($("#minThisYear").val()),
			 "minSetUp":initSearchData($("#minSetUp").val())
			 }
    $('#example').DataTable( {
      	serverSide: true,
        "ajax": {
            "url": "/getFundRankList",
            	"data":searchParams
        },
        destroy:true,
        "columns": [
        { "data": "fields.category" },
		{ "data": "fields.fund_id" },
        { "data": "fields.fund_name" },
		{ "data": "fields.cal_date" },
        { "data": "fields.net_asset_value" },
		{ "data": "fields.accumulative" },
		{ "data": "fields.oneday" },
		{ "data": "fields.oneweek" },
		{ "data": "fields.onemonth" },
		{ "data": "fields.threemonth" },
		{ "data": "fields.sixmonth" },
		{ "data": "fields.oneyear" },
		{ "data": "fields.twoyear" },
		{ "data": "fields.threeyear" },
		{ "data": "fields.thisyear" },
		{ "data": "fields.setup" }
        ]
    } );
} );	
function  searchFundFun()
{
	var searchParams={
			 "minWeek":initSearchData($("#minWeek").val()),
			 "minMonth":initSearchData($("#minMonth").val()),
			 "minThreeMonth":initSearchData($("#minThreeMonth").val()),
			 "minSixMonth":initSearchData($("#minSixMonth").val()),
			 "minOneYear":initSearchData($("#minOneYear").val()),
			 "minTwoYear":initSearchData($("#minTwoYear").val()),
			 "minThreeYear":initSearchData($("#minThreeYear").val()),
			 "minThisYear":initSearchData($("#minThisYear").val()),
			 "minSetUp":initSearchData($("#minSetUp").val())
			 }
   $('#example').DataTable( {
     	serverSide: true,
       "ajax": {
           "url": "/getFundRankList",
           	"data":searchParams
       },
       destroy:true,
       "columns": [
       { "data": "fields.category" },
		{ "data": "fields.fund_id" },
       { "data": "fields.fund_name" },
		{ "data": "fields.cal_date" },
       { "data": "fields.net_asset_value" },
		{ "data": "fields.accumulative" },
		{ "data": "fields.oneday" },
		{ "data": "fields.oneweek" },
		{ "data": "fields.onemonth" },
		{ "data": "fields.threemonth" },
		{ "data": "fields.sixmonth" },
		{ "data": "fields.oneyear" },
		{ "data": "fields.twoyear" },
		{ "data": "fields.threeyear" },
		{ "data": "fields.thisyear" },
		{ "data": "fields.setup" }
       ]
   } );
}

</script>
<style type="text/css">
input {width:70px}
</style>
</head>
<body>
<table class="table table-bordered table-condensed " contenteditable="true">
	<thead>
		<tr class="success">
			<th>筛选</th>
			<th>周</th>
			<th>月</th>
			<th>3月</th>
			<th>6月</th>
			<th>1年</th>
			<th>2年</th>
			<th>3年</th>
			<th>今年</th>
			<th>成立</th>
		</tr>
	</thead>
	<tbody>
	<form >
		<tr>
			<td>最小:</td>
			<td><input class="input-mini" id="minWeek" type="text" ></td>
			<td><input class="input-mini" id="minMonth" type="text" ></td>
			<td><input class="input-mini" id="minThreeMonth" type="text"></td>
			<td><input class="input-mini" id="minSixMonth" type="text" ></td>
			<td><input class="input-mini" id="minOneYear" type="text"></td>
			<td><input class="input-mini" id="minTwoYear" type="text" ></td>
			<td><input class="input-mini" id="minThreeYear" type="text" ></td>
			<td><input class="input-mini" id="minThisYear" type="text"></td>
			<td><input class="input-mini" id="minSetUp" type="text"></td>
		</tr>
		<tr>
			<td>最大:</td>
			<td><input class="input-mini" id="maxWeek" type="text"></td>
			<td><input class="input-mini" id="maxMonth" type="text"></td>
			<td><input class="input-mini" id="maxThreeMonth" type="text"></td>
			<td><input class="input-mini" id="maxSixMonth" type="text"></td>
			<td><input class="input-mini" id="maxOneYear" type="text"></td>
			<td><input class="input-mini" id="maxTwoYear" type="text"></td>
			<td><input class="input-mini" id="maxThreeYear" type="text"></td>
			<td><input class="input-mini" id="maxThisYear" type="text"></td>
			<td><input class="input-mini" id="maxSetUp" type="text"></td>
		</tr>
		<tr>
		<td colspan="10"><input  class="input-mini" type="button"  onclick="searchFundFun()" value="查询"><input class="input-mini" type="reset" value="重置"></td>
		</tr>
		</form>
	</tbody>
</table>

<table id="example" class="cell-border"  width="100%" cellspacing="0">
        <thead>
                <tr>
                       <td>
							类别
						</td>
						<th>
							id
						</th>
						<th>
							名称
						</th>
						<th>
							日期
						</th>
						<th>
							单位
						</th>
						<th>
							累计
						</th>
						<th>
							天
						</th>
						<th>
							周
						</th>
						<th>
							月
						</th>
						<th>
							3月
						</th>
						<th>
							6月
						</th>
						<th>
							1年
						</th>
						<th>
							2年
						</th>
						<th>
							3年
						</th>
						<th>
							今年
						</th>
						<th>
						   成立
						</th>
            </tr>
        </thead>
    </table>
</html>